<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{% url 'post' %}">
        <button>글쓰기</button>
    </a>



    {% for d in diarys %}
    <h5>제목 : {{ d.title }}</h2>
    <h5>날짜 : {{ d.pub_date }}</h5>
    <h5>날씨 : {{ d.weather }}</h5>
    {% if d.image %}
    <p>사진 : <img src="{{ d.image.url }}" width="200px" height="200px"></p>
    {% endif %}
    <p>내용 : {{ d.content }}</p>
    {% endfor %}

    <div>
        {% if diarys.has_previous %}
        <a href="?page={{diarys.previous_page_number}}"><</a>
        {% endif %}

        <span>{{diarys.number}}</span>
        <span>/</span>
        <span>{{diarys.paginator.num_pages}}</span>

        {% if diarys.has_next %}
        <a href="?page={{diarys.next_page_number}}">></a>
        {% endif %}
    </div>
</body>
</html>